/* Contact Section */
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0% 10%;
    /* background-color: #ffe5ec; */
}

main {
    margin-top: 13vh;
}

.contact-content {
    /* border: 1px solid black; */
    flex: 1;
    max-width: 50%;
    padding-left: 5%;
}


h1 {
    text-align: center;
    font-weight: 500;
    color: #2D3651;
    font-size: 400%;
    padding: 2% 0%;
    
}

.contact-content h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.contact-content p {
    font-weight: 600;
    font-size: 150%;
    margin-bottom: 20px;
    }

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 1%;
}

.contact-info div {
    display: flex;
    align-items: center;
    gap: 10px;
    }

.contact-info img {
    width: 10%;
    height: 10%;
}

.contact-info span {
font-size: 120%;
}

/* Contact Form */
.contact-form {
    /* border: 1px solid black; */
    flex: 1;
    max-width: 40%;
    background: linear-gradient(to left, #ffbcd3, #ffd2d2);
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    margin-left: 5%;
    /* min-width: 100%; */
}

.contact-form h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #2D3651;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 100%;
}

.contact-form textarea {
height: 100px;
resize: none;
}

.contact-form button {
    padding: 10px 20px;
    width: 50%;
    border: none;
    border-radius: 5px;
    background-color: #c2bdff;
    color: #2D3651;
    font-size: 14px;
    cursor: pointer;
    font-weight: 800;
    transition: background-color 0.1s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
}

.contact-form button:hover {
    background-color: #2D3651;
    color: white;
}

/* TABLET VIEW*/
@media (max-width: 768px) {
.contact {
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 300%;
}
.h1 {
    font-size: 50%;
    
}

.contact-info {
    gap: 10px;
}


.contact-content,
.contact-form {
    max-width: 100%;
    margin: 5% 0%;
    
}

.contact-form {
    width: 80%;
    height: auto;
}

.contact-content h1 {
    font-size: 28px;
    text-align: center;
}

.contact-content p {
    font-size: 120%;
    text-align: left;
}

.contact-info {
    justify-content: center;
    text-align: center;
}

.contact-info div {
    justify-content: left;
    width: 50%;
}

}

/* PHONE VIEW */
@media (max-width: 425px) {
.contact {
    padding: 10px;
}

h1 {
    padding-top: 10%;
    font-size: 200%;
}
.contact-content h1 {
    font-size: 200%;
    text-align: left;
}

.contact-content p {
    font-size: 100%;
    text-align: left;
    padding: 1%;
}



.contact-form {
    margin: 10% 0%;
    padding: 15px;
    box-shadow: none;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
}

.contact-form h2 {
    font-size: 18px;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    font-size: 12px;
    padding: 8px;
}

.contact-form button {
    font-size: 12px;
    padding: 8px;
}

.contact-info img {
    width: 16px;
    height: 16px;
}

.contact-info {
    gap: 5px;
}

.contact-info span {
    font-size: 10px;
}
}